---
:repo:    git@example.com:repos/repo.git
:site:    http://example.com
:staging: /staging
:preview: /preview-%s
:email:   %s@example.com

:users:
  jd: { :name: John Doe, :email: jdoe@example.net }
