<div id="helper_help">
  <p>
    <strong><code>r</code></strong> generates relative paths to files inside of the website (<%= settings.site %>). To get a valid path to 'my-image.png' which lives in the folder 'images' use:<br />
    <code>&lt;%=r 'images/my-image.png' %&gt;</code>
  </p>
  <p>
    <strong><code>p</code></strong> generates URLs to pandora. Use this helper, if you want to link to a function of it. For instance you will get the URL for the search function by using this:<br />
    <code>&lt;%=p 'search' %&gt;</code>
  </p>
  <p><a href="#" onclick="$('#helper_help').hide(); return false;">Hide</a></p>
</div>
