<h2>New folder</h2>

<%= form_new :folder %>
  <p>
    <label for="folder_name">Name (required):</label>
    <input type="text" name="name" id="folder_name" size="30">
  </p>

  <p>
    <input type="submit" value="Create folder">
    | <%= link_to 'Cancel', relative_path %>
  </p>
</form>
