body {
  color:            #333;
  background-color: #fff;
}

body, p, ol, ul, td, textarea {
  font-family:      verdana, arial, helvetica, sans-serif;
  font-size:        13px;
  line-height:      18px;
}

pre, .diff {
  background-color: #eee;
  padding:          10px;
}

pre {
  font-size:        11px;
}

a {
  color:            #000;
}

a:visited {
  color:            #666;
}

a:hover {
  color:            #fff;
  background-color: #000;
}

a img {
  border:           none;
  vertical-align:   text-bottom;
}

.notice, .error {
  font-weight:      bold;
  color:            gray;
  border-width:     1px;
  border-style:     dashed;
  padding:          2px 4px;
}

.notice {
  border-color:     green;
}

.error {
  border-color:     red;
}

#sidebar {
  float:            left;
  border-right:     2px dashed gray;
  width:            266px;
  overflow:         auto;
}

#loginfo {
  text-align:       right;
  font-size:        85%;
  padding-right:    6px;
  margin-top:       0;
  margin-bottom:    0;
}

#trail {
  margin-top:       2px;
}

#actions form, #actions form p {
  display:          inline;
}

#site-actions {
  border-top:       2px dashed gray;
  padding-top:      6px;
}

#main {
  margin-left:      280px;
  padding:          1px 0;
}

li.current a {
  background-color: silver;
}

.added {
  color:            green;
}

.changed {
  color:            purple;
}

.conflict {
  color:            red;
}

.deleted {
  color:            maroon;
}

.untracked {
  color:            teal;
}

.diff_stats td.file,
.diff_stats td.num {
  white-space:      nowrap;
}

.diff_stats td.num {
  text-align:       right;
}

.diff_stats td.stat {
  font-family:      monospace;
  font-weight:      bold;
}

.diff_stats .insertions {
  color:            green;
}

.diff_stats .deletions {
  color:            red;
}

.commit_log td {
  font-size:        smaller;
  vertical-align:   top;
}

.commit_log td.date,
.commit_log td.author {
  white-space:      nowrap;
}

.commit_log td.date {
  color:            green;
}

.commit_log td.author {
  color:            blue;
}

.diff {
  width:            99%;
}

.diff td {
  font-family:      monospace;
  font-size:        90%;
  padding:          0;
}

.diff td.preamble {
  color:            olive;
}

.diff td.hunk {
  color:            purple;
}

.diff td.deletion {
  color:            red;
}

.diff td.insertion {
  color:            green;
}

.diff td.context {
  color:            gray;
}

.diff .trailing_space {
  background-color: red;
}

#markup_links {
  display:          block;
}
