body {
  color:            #333;
  background-color: white;
}

body, p, ol, ul, td, textarea {
  font-family:      verdana, arial, helvetica, sans-serif;
  font-size:        13px;
  line-height:      18px;
}

textarea {
  font-family:      'Courier New', Courier, monospace;
  font-size:        12px;
}

pre, .diff {
  background-color: #eee;
  padding:          10px;
}

pre {
  font-size:        11px;
}

a {
  color:            black;
}

a:visited {
  color:            #666;
}

a:hover, a.ui-state-hover {
  color:            white;
  background-color: black;
}

a img, #spinner img {
  border:           none;
  vertical-align:   text-bottom;
}

iframe {
  border: none;
}

.notice, .error {
  font-weight:      bold;
  color:            gray;
  border-width:     1px;
  border-style:     dashed;
  padding:          2px 4px;
}

.notice {
  border-color:     green;
}

.error {
  border-color:     red;
}

.ui-autocomplete {
  position:         absolute;
  list-style-type:  none;
  padding:          0;
  border:           1px solid black;
  background-color: white;
}

.ui-autocomplete .ui-menu-item {
  padding:          2px 4px;
  border-bottom:    1px solid silver;
}

.ui-autocomplete .ui-menu-item a {
  cursor:           pointer;
}

#sidebar {
  float:            left;
  border-right:     2px dashed gray;
  width:            286px;
  overflow:         auto;
  padding-bottom:   6px;
}

#loginfo {
  text-align:       right;
  font-size:        85%;
  padding-right:    6px;
  margin-top:       0;
  margin-bottom:    0;
}

#trail {
  margin-top:       2px;
}

#search {
  padding-top:      6px;
}

#search, #search input, #search select {
  font-size:        90%;
}

#search_query {
  width:            140px;
  height:           11px;
}

#search label, #spinner {
  display:          none;
}

#actions form, #actions form p {
  display:          inline;
}

#site-actions {
  border-top:       2px dashed gray;
  padding-top:      6px;
  margin-top:       11px;
}

#main {
  margin-left:      300px;
  padding:          1px 0;
}

li.current a {
  background-color: silver;
}

.added {
  color:            green;
}

.changed {
  color:            purple;
}

.conflict {
  color:            red;
}

.deleted {
  color:            maroon;
}

.untracked {
  color:            teal;
}

.diff_stats td.file,
.diff_stats td.num {
  white-space:      nowrap;
}

.diff_stats td.num {
  text-align:       right;
}

.diff_stats td.stat {
  font-family:      monospace;
  font-weight:      bold;
}

.diff_stats .insertions {
  color:            green;
}

.diff_stats .deletions {
  color:            red;
}

.commit_log td {
  font-size:        smaller;
  vertical-align:   top;
  white-space:      pre;
  line-height:      13px;
}

.commit_log td.date,
.commit_log td.author {
  white-space:      nowrap;
}

.commit_log td.date {
  color:            green;
}

.commit_log td.author {
  color:            blue;
}

.diff {
  width:            99%;
}

.diff td {
  font-family:      monospace;
  font-size:        90%;
  padding:          0;
}

.diff td.preamble {
  color:            olive;
}

.diff td.hunk {
  color:            purple;
}

.diff td.deletion {
  color:            red;
}

.diff td.insertion {
  color:            green;
}

.diff td.context {
  color:            gray;
}

.diff .trailing_space {
  background-color: red;
}

#markup_links {
  display:          block;
}

#page_number {
  font-family:      monospace;
}
